<a href="https://colab.research.google.com/github/tiasaxena/PySpark/blob/main/Pyspark_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **1. PySpark Basic Introduction**

In [ ]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

Before starting to work with PySpark, we need to start a PySpark session

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Pyspark-Demo').getOrCreate()

spark

In [ ]:
# Use the first value as the column name for each column using `.option("header", "true")`
print(f"Dataframe info:")

df_spark = spark.read.option('header', 'true').csv('/content/sample_data/california_housing_train.csv')
df_spark.printSchema()

print("---------------------------------------------------------")

print(f"Type of dataframe: {type(df_spark)}")

print("---------------------------------------------------------")

print(f"Head of dataframe: {df_spark.head(4)}")

Dataframe info:
root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

---------------------------------------------------------
Type of dataframe: <class 'pyspark.sql.dataframe.DataFrame'>
---------------------------------------------------------
Head of dataframe: [Row(longitude='-114.310000', latitude='34.190000', housing_median_age='15.000000', total_rooms='5612.000000', total_bedrooms='1283.000000', population='1015.000000', households='472.000000', median_income='1.493600', median_house_value='66900.000000'), Row(longitude='-114.470000', latitude='34.400000', housing_median_age='19.000000', total_rooms='7650.000000', total_bedrooms='1901.000000', population='1129.000000', households='463.000000', median_income='1.820000', median_house_value='80100.000000'), Row(longitude='-114.560000', latitude='33.690000', housing_median_age='17.000000', total_rooms='720.000000', total_bedrooms='174.000000', population='333.000000', households='117.000000', median_income='1.650900', median_house_value='85700.000000'), Row(longitude='-114.570000', latitude='33.640000', housing_median_age='14.000000', total_rooms='1501.000000', total_bedrooms='337.000000', population='515.000000', households='226.000000', median_income='3.191700', median_house_value='73400.000000')]

In [ ]:
df_spark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

#### **2. PySpark Dataframes**

**Contents:**
1. Pyspark Dataframes
2. Reading the Dataset
3. Checking the datatype of the columns
4. Selecting columns and indexing
5. Checking the description
6. Adding Columns
7. Dropping columns

In [ ]:
# Start the session
from pyspark.sql import SparkSession

session = SparkSession.builder.appName("Dataframe-Demo").getOrCreate()
session

In [ ]:
# 2. Read the dataset
df = spark.read.option('header', 'true').csv('/content/sample_data/california_housing_train.csv')
df

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [ ]:
df.show(), df.printSchema()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

(None, None)

We can observe that the datatypes provided are all of type: string. We must include **inferSchema=True** to get to know about the accurate datatypes of each of the columns.

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_train.csv', header=True, inferSchema=True)

# 3. Check the datatype of the columns
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
# 4. Selecting columns and indexing
print(f"The column names are: \n {df.columns}")

The column names are:
 ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

In [ ]:
# pick up a column and see all the elements
df.select(['total_rooms', 'latitude']).show(), type(df.select('longitude'))

+-----------+--------+
|total_rooms|latitude|
+-----------+--------+
|     5612.0|   34.19|
|     7650.0|    34.4|
|      720.0|   33.69|
|     1501.0|   33.64|
|     1454.0|   33.57|
|     1387.0|   33.63|
|     2907.0|   33.61|
|      812.0|   34.83|
|     4789.0|   33.61|
|     1497.0|   34.83|
|     3741.0|   33.62|
|     1988.0|    33.6|
|     1291.0|   34.84|
|     2478.0|   34.83|
|     1448.0|   32.76|
|     2556.0|   34.89|
|     1678.0|    33.6|
|       44.0|   32.79|
|     1388.0|   32.74|
|       97.0|   33.92|
+-----------+--------+
only showing top 20 rows

(None, pyspark.sql.dataframe.DataFrame)

In [ ]:
# 5. Checking the description
df.describe().show() # .show() is used to display the data in the dataframe format, i.e, tabular format

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

**Note:** Using **withColumn()** a new class of DataFrame is returned by adding a new column or replacing the existing column that has the same name.

In [ ]:
# 6. Adding columns in PySpark dataframe
df.withColumn('# of Rooms after addition of extra room', df['total_rooms']+1)

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double, # of Rooms after addition of extra room: double]

In [ ]:
# 7. Drop the columns
df.drop('# of Rooms after addition of extra room').show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

#### **3. PySpark Handling Missing Values**

* Dropping Columns
* Dropping Rows
* Various Parameters in Dropping Fufznctionalities
* Handling Missing Values by Mean, Median, Mode

In [ ]:
from google.colab import files

# Upload kaggle.json file
uploaded = files.upload()

# Confirm the upload
if 'kaggle.json' in uploaded:
  print("pyspark_demo.csv from /Downloads uploaded successfully!")
else:
  print("Upload failed. Please try again.")

Saving pyspark_demo.csv to pyspark_demo (1).csv
Upload failed. Please try again.

In [ ]:
from pyspark.sql import SparkSession

session_2 = SparkSession.builder.appName('session').getOrCreate()
session_2

In [ ]:
df = spark.read.csv('/content/pyspark_demo.csv', header=True, inferSchema=True)
df.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
# 1. Drop the columns
df.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [ ]:
df.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
# 2. Drop rows
df.na.drop().show() # Drops all the rows with more than 1 value

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Tia| 31|        10| 30000|
|  Ria| 30|         8| 25000|
|  Mia| 29|         4| 20000|
|  Dia| 24|         3| 20000|
|  Sia| 21|         1| 15000|
|  Kia| 23|         2| 18000|
|Mishi| 34|        10| 38000|
+-----+---+----------+------+

We can provide attribute specifying that we want to drops rows that have:
1. All its values equal to NULL
2. Any of its values equal to NULL.


We can also provide a threshold values which sets the maximum limit for meeting the `all` or `any` condition.

In [ ]:
df.na.drop(how="any", thresh=2).show() # atleast 2 values are not null
df.na.drop(how="all", thresh=1).show() # atleast 1 value is not null

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

By using **`subset`** attribute, we can set the specific columns which we want to delete if there is any/all null values.

In [ ]:
df.na.drop(how="any", subset=["Experience"]).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Tia| 31|        10| 30000|
|  Ria| 30|         8| 25000|
|  Mia| 29|         4| 20000|
|  Dia| 24|         3| 20000|
|  Sia| 21|         1| 15000|
|  Kia| 23|         2| 18000|
|Mishi| 34|        10| 38000|
+-----+---+----------+------+

In [ ]:
# 3. Filling the missing values
df.na.fill('Missing Values', ['Age', 'Experience']).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
  inputCols=['Age', 'Experience', 'Salary'],
  outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("mean")

In [ ]:
imputer.fit(df).transform(df).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
|  Tia|  31|        10| 30000|         31|                10|         30000|
|  Ria|  30|         8| 25000|         30|                 8|         25000|
|  Mia|  29|         4| 20000|         29|                 4|         20000|
|  Dia|  24|         3| 20000|         24|                 3|         20000|
|  Sia|  21|         1| 15000|         21|                 1|         15000|
|  Kia|  23|         2| 18000|         23|                 2|         18000|
|  Pia|NULL|      NULL| 40000|         28|                 5|         40000|
|Mishi|  34|        10| 38000|         34|                10|         38000|
|Kishu|  36|      NULL|  NULL|         36|                 5|         25750|
+-----+----+----------+------+-----------+------------------+--------------+

#### **4. Pyspark Dataframes- Filter Operations**
* Filter Operation
* &, |, ==
* ~

In [ ]:
from pyspark.sql import SparkSession

session_2 = SparkSession.builder.appName('session').getOrCreate()
session_2

In [ ]:
data = spark.read.csv('/content/pyspark_demo.csv', header=True, inferSchema=True)

data.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Tia|  31|        10| 30000|
|  Ria|  30|         8| 25000|
|  Mia|  29|         4| 20000|
|  Dia|  24|         3| 20000|
|  Sia|  21|         1| 15000|
|  Kia|  23|         2| 18000|
|  Pia|NULL|      NULL| 40000|
|Mishi|  34|        10| 38000|
|Kishu|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
# Filter all the Names, Age of people with Salary >= 25,000
df.filter('Salary>=25000').select(['Name', 'Age']).show()

+-----+----+
| Name| Age|
+-----+----+
|  Tia|  31|
|  Ria|  30|
|  Pia|NULL|
|Mishi|  34|
+-----+----+

In [ ]:
df.filter((df['Salary']>=2500) & (df['Salary']<=38000)).select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|  Tia| 31|
|  Ria| 30|
|  Mia| 29|
|  Dia| 24|
|  Sia| 21|
|  Kia| 23|
|Mishi| 34|
+-----+---+

In [ ]:
df.filter(~(df['Salary']>=25000)).select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
| Mia| 29|
| Dia| 24|
| Sia| 21|
| Kia| 23|
+----+---+

#### **PySpark-GroupBy and Aggregate Functions**

In [ ]:
from google.colab import files

# Upload pyspark_demo2.csv file from /Downloads
uploaded = files.upload()

if 'pyspark_demo2.csv' in uploaded:
  print("pyspark_demo2.csv uploaded successfully!")
else:
  print("Upload failed. Please try again.")

Saving pyspark_demo2.csv to pyspark_demo2.csv
pyspark_demo2.csv uploaded successfully!

In [ ]:
from pyspark.sql import SparkSession

session = SparkSession.builder.appName('Agg').getOrCreate()
session

In [ ]:
df = spark.read.csv('/content/pyspark_demo2.csv', header=True, inferSchema=True)
df.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# Display the total salary of each of the employees
df.groupBy('Name').sum('Salary').show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
# Group by departments which gives maximum salary
df.groupBy('Departments').mean('Salary').show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
# Number of employees working in each department
df.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
# Total and mean of the salaries
df.agg({'Salary': 'mean'}).show(), df.agg({'Salary': 'sum'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

(None, None)

In [ ]:
# Get the minimum salary of ea ch of the employee
df.groupBy('Name').min('Salary').show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+